<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> 
        
        <bean class="com.del.app.Tyre" id="mrf"/>
        
        <bean class="com.del.app.MusicSystem" id="sony"/>
        
        <bean id="nexon" class="com.del.app.Car">
        <property name="regNo" value="KA05-2020"/>
        <property name="color" value="Red"/>
        <property name="model" value="TATA Nexon"/>
        <property name="tyres" ref="mrf"/>
        <property name="musicSystem" ref="sony"/> 
        </bean>
        
        <bean id="bmw" class="com.del.app.Car">
        <!-- <constructor-arg name="regNo" value="MH02-2026"/> -->
        </bean>
        
       

</beans>


