<h2>View Person</h2>
<div>
<span style="float: left; font-size: x-large;">Person List</span> 
<div style="float: right;">
   
    <input type="search" placeholder="Enter a an ID to search" #searchText>
    <button (click)="searchPerson(searchText.value)" class="btn btn-info">Search</button>
</div>
</div>


<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Joined</th>
                <th>Salary</th>
                <th>Email</th>
                <th colspan="2">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of personList">
                <td>{{person.personName|shorten|uppercase}}</td>
                <td>{{person.joinDate|date|uppercase}}</td>
                <td>{{person.salary|currency:'EUR'}}</td>
                <td>{{person.email}}</td>
                <td><button class="btn btn-danger"
                     (click)="deletePerson(person.personName)">Delete</button></td>
                <td><button (click)="selectPerson(person)" class="btn btn-dark">Update</button></td>
            </tr>
        </tbody>
    </table>
    </div>

    <div *ngIf="person">
        <p>Name : {{person.personName}}</p>
        <p>Email : {{person.email}}</p>
        <p>Salary : {{person.salary}}</p>
        <p>Joining Date : {{person.joinDate}}</p>
    
    </div>

    <div>
        <app-update-person [person]="selectedPerson"></app-update-person>

    </div>