<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date Joined</th>
                <th>Salary</th>
                <th>Email</th>
                <th>Option</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of dataService.personList">
                <td>{{person.personName|shorten|uppercase}}</td>
                <td>{{person.joinDate|date|uppercase}}</td>
                <td>{{person.salary|currency:'EUR'}}</td>
                <td>{{person.email}}</td>
                <td><button class="btn btn-danger"
                     (click)="deletePerson(person.personName)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    </div>
