

<h2 appStyle>Input Person Details</h2>

<form class="form-group" #personForm="ngForm"  (submit)="addPerson(personForm.value)">
    <div class="row">
        <div class="col-md-2">
<label for="personName">Name </label>
</div>
<div class="col-md-10">
<input type="text" name="personName" minlength="3" required id="personName" #personNameT="ngModel" 
                   ngModel placeholder="Enter Name"
                   class="form-control"
                   [class.is-invalid]="personNameT.touched && personNameT.invalid"
                   >
                </div>
 <p *ngIf="personNameT.touched">
<small class="text-danger" *ngIf="personNameT.errors?.['required']">Name is required</small>
<small class="text-danger" *ngIf="personNameT.errors?.['minlength']">Name is invalid</small>
</p>
</div>

<div class="row">
    <div class="col-md-2">
    <label for="joinDate">Joining Date </label>
    </div>
    <div class="col-md-10">
    <input type="date" required name="joinDate" id="joinDate" #joinDateT="ngModel"  
                       ngModel placeholder="Enter Joining Date"
                       class="form-control"
                       >
    </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        <label for="salary">Salary</label>
        </div>
        <div class="col-md-10">
        <input type="number" required name="salary" id="salary" #salaryT="ngModel"  
                           ngModel placeholder="Enter Salary"
                           class="form-control"
                           >
        </div>
        </div>

    <div class="row">
    <div class="col-md-2">
        <label for="email">Email </label>
</div>
<div class="col-md-10">
        <input type="email" email required name="email" id="email" #emailT="ngModel"  
                           ngModel placeholder="Enter Email"
                           class="form-control"
                           >
        </div>
        </div>
        <div>
            <button type="submit" [disabled]="personForm.invalid" class="btn btn-primary">Add Person</button>
        </div>

</form>


